@charset "UTF-8";
.color-primary {
  color: #41BECE; }

.color-secondary {
  color: #FF6B1D; }

@font-face {
  font-family: 'Corporate Logo Bold';
  src: url("../fonts/CorporateLogoBold/Corporate-Logo-Bold.woff2") format("woff2"), url("../fonts/CorporateLogoBold/Corporate-Logo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Meiryo';
  src: url("../fonts/MeiryoW53/MeiryoW53-Regular.woff2") format("woff2"), url("../fonts/MeiryoW53/MeiryoW53-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'HiraKakuProW3';
  src: url("../fonts/HiraKakuProW3/HiraKakuPro-W3-AlphaNum.woff2") format("woff2"), url("../fonts/HiraKakuProW3/HiraKakuPro-W3-AlphaNum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'YuGo';
  src: url("../fonts/YuGo-Medium/YuGo-Medium-AlphaNum.woff2") format("woff2"), url("../fonts/YuGo-Medium/YuGo-Medium-AlphaNum.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/NotoSansJP/NotoSansJP-Light-Alphabetic.woff2") format("woff2"), url("../fonts/NotoSansJP/NotoSansJP-Light-Alphabetic.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/NotoSansJP/NotoSansJP-Bold-Alphabetic.woff2") format("woff2"), url("../fonts/NotoSansJP/NotoSansJP-Bold-Alphabetic.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/NotoSansJP/NotoSansJP-Medium-Alphabetic.woff2") format("woff2"), url("../fonts/NotoSansJP/NotoSansJP-Medium-Alphabetic.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/NotoSansJP/NotoSansJP-Regular-Alphabetic.woff2") format("woff2"), url("../fonts/NotoSansJP/NotoSansJP-Regular-Alphabetic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
body {
  color: #000;
  font: 14px/25px 'Noto Sans JP'; }

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: normal; }

p {
  margin-bottom: 0;
  line-height: normal; }

a {
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; }

a:hover {
  text-decoration: none; }

/*Custom boostrap*/
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem; }

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1024px; } }
@media (min-width: 992px) {
  .row {
    --bs-gutter-x: 2rem; }

  .col-lg-20 {
    width: 20%; }

  .col-lg-34 {
    width: 34.5%; }

  .col-lg-66 {
    width: 65.5%; } }
.container-fluid {
  max-width: 1400px; }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

/*Effect*/
.ef--zoomin .el__thumb img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.ef--zoomin:hover .el__thumb img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/*Fix image trong khung*/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%; }

.dnfix__thumb img {
  margin: 0px auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; }

.dnfix__thumb.-contain img {
  object-fit: contain; }

/*button*/
.btn__primary {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  padding: 7px 30px;
  border: 2px solid #000;
  border-radius: 40px !important;
  background-color: #fff;
  min-width: 260px; }
  .btn__primary:hover {
    background-color: #41BECE;
    border-color: #41BECE;
    color: #fff; }
  .btn__primary.-small {
    min-width: 180px; }

.btn__secondary {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  padding: 8px 30px;
  border: 2px solid #41BECE;
  border-radius: 2px;
  background-color: #41BECE;
  min-width: 300px;
  color: #fff;
  margin-bottom: 10px; }
  .btn__secondary:hover {
    background-color: #FF6B1D;
    border-color: #FF6B1D;
    color: #fff; }
  .btn__secondary.-small {
    min-width: 180px; }

/**/
.sc__header {
  position: relative;
  margin-bottom: 50px; }
  .sc__header__title {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Lato';
    margin-bottom: 0; }
    .sc__header__title:after {
      content: "";
      display: block;
      width: 100px;
      height: 4px;
      margin: 20px auto;
      background-color: #41BECE; }
  .sc__header__sub {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700; }
  @media (max-width: 575px) {
    .sc__header__title {
      font-size: 30px; } }

.sc__readmore.btn__primary {
  min-width: 285px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 700; }
.sc__readmore--text {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #000000; }
  .sc__readmore--text span {
    margin-left: 50px; }
  .sc__readmore--text:hover {
    color: #41BECE; }
@media (max-width: 991px) {
  .sc__readmore--text span {
    margin-left: 30px; } }
@media (max-width: 575px) {
  .sc__readmore--text span {
    margin-left: 15px; } }
@media (max-width: 320px) {
  .sc__readmore--text span {
    margin-left: 5px;
    font-size: 7px; } }

.ck-editor__editable_inline {
  min-height: 230px; }

/*ion-rangeSlider*/
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
  color: #222;
  background-color: transparent; }
  .irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
    border-top-color: transparent; }

.irs--round .irs-handle {
  border: 3px solid #41BECE;
  cursor: pointer; }

.irs--round .irs-bar {
  height: 3px;
  background-color: #41BECE; }

/*Star*/
.item__rating {
  display: flex;
  align-items: center;
  font-weight: 400; }
  .item__rating .count {
    position: relative;
    top: 2px;
    font-size: 12px;
    font-weight: 700;
    color: #F69D38;
    margin-left: 10px; }

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 16px;
  width: 88px;
  font-family: 'icomoon';
  letter-spacing: 2px;
  color: #F69D38; }
  .star-rating.-small {
    font-size: 10px;
    width: 62px; }
    .star-rating.-small span {
      padding-top: 10px; }
  .star-rating::before {
    content: "\e907\e907\e907\e907\e907";
    float: left;
    top: 0;
    left: 0;
    position: absolute; }
  .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 16px; }
    .star-rating span::before {
      content: "\e906\e906\e906\e906\e906";
      top: 0;
      position: absolute;
      left: 0; }

/*rateit.js*/
.rateit.-icomoon .rateit-reset {
  display: none !important; }
.rateit.-icomoon .rateit-range {
  height: 25px;
  background: transparent;
  overflow: hidden; }
  .rateit.-icomoon .rateit-range::before {
    content: "\e907\e907\e907\e907\e907";
    display: block;
    font-family: 'icomoon';
    font-size: 25px; }
.rateit.-icomoon .rateit-hover {
  background: transparent;
  overflow: hidden; }
  .rateit.-icomoon .rateit-hover::before {
    display: block;
    content: "\e906\e906\e906\e906\e906";
    font-family: 'icomoon';
    font-size: 25px;
    color: #F69D38; }
.rateit.-icomoon .rateit-selected {
  background: transparent;
  overflow: hidden; }
  .rateit.-icomoon .rateit-selected::before {
    content: "\e906\e906\e906\e906\e906";
    font-family: 'icomoon';
    display: block;
    font-size: 25px;
    color: #F69D38; }

/*
======================================
[ Main menu ]
======================================
*/
.main__nav {
  position: relative;
  z-index: 9; }
  .main__nav:after {
    content: "";
    display: table;
    clear: both; }
  .main__nav .sc__wrap {
    position: relative;
    z-index: 9999;
    width: 100%; }
  .main__nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .main__nav .dn__menu {
    padding: 0px 0;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
    background: none;
    max-height: 46px; }
    .main__nav .dn__menu:after {
      content: "";
      display: table;
      clear: both; }
    .main__nav .dn__menu > li {
      position: relative;
      display: inline-block;
      padding: 0 15px; }
      .main__nav .dn__menu > li a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 0;
        height: 2px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        margin: auto;
        background: #fff; }
      .main__nav .dn__menu > li > a {
        position: relative;
        color: #000000;
        line-height: normal;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        padding: 10px 0;
        display: block; }
        .main__nav .dn__menu > li > a:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          width: 10%;
          height: 2px;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
          margin: auto; }
    .main__nav .dn__menu > li:hover a, .main__nav .dn__menu > li.active a, .main__nav .dn__menu .current_page_parent a, .main__nav .dn__menu .current-menu-parent a {
      color: #41BECE; }
    .main__nav .dn__menu > li:hover a:after, .main__nav .dn__menu > li.active a:after, .main__nav .dn__menu .current_page_parent a:after, .main__nav .dn__menu .current-menu-parent a:after {
      width: 100%; }
    .main__nav .dn__menu .menu-item-has-children:hover a:after {
      display: none; }
    .main__nav .dn__menu li:hover > .sub-menu {
      display: block;
      opacity: 1;
      visibility: visible; }
    .main__nav .dn__menu .sub-menu {
      width: 205px;
      position: absolute;
      background: #41BECE;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms linear;
      -o-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -webkit-transition: all 300ms linear;
      left: 0px;
      top: 100%;
      z-index: 99;
      text-align: left; }
      .main__nav .dn__menu .sub-menu li {
        line-height: 20px;
        padding: 8px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: relative; }
        .main__nav .dn__menu .sub-menu li:hover {
          background-color: rgba(0, 0, 0, 0.2); }
          .main__nav .dn__menu .sub-menu li:hover > a {
            color: #fff; }
        .main__nav .dn__menu .sub-menu li a {
          color: #ffffff; }
      .main__nav .dn__menu .sub-menu .sub-menu {
        top: 0;
        left: 100%; }
  @media (max-width: 1199px) {
    .main__nav .dn__menu > li {
      padding: 0 4px; } }
  @media (max-width: 991px) {
    .main__nav {
      background-color: #ECF9FA;
      overflow: auto;
      white-space: nowrap; }
      .main__nav .dn__menu > li {
        padding: 0 15px; } }

/*Menu custom*/
.modal-open {
  overflow: hidden; }

.nav__mobile {
  display: block;
  position: fixed;
  top: 90px;
  height: 100%;
  left: -390px;
  width: 390px;
  opacity: 0;
  background: #fff;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  z-index: 999;
  font-size: 16px;
  font-weight: 700;
  pointer-events: none; }
  .nav__mobile__content {
    overflow-y: auto;
    height: calc(100% - 90px); }
  .nav__mobile.active {
    left: 0;
    opacity: 1;
    pointer-events: auto; }
  .nav__mobile .sub-menu {
    display: none; }
  .nav__mobile--ul {
    list-style: none;
    padding: 15px 15px;
    margin: 0; }
    .nav__mobile--ul .sub-menu {
      font-size: 14px;
      font-weight: 500; }
      .nav__mobile--ul .sub-menu li a {
        padding: 4px 4px 4px 15px; }
      .nav__mobile--ul .sub-menu li::before {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #41BECE;
        position: absolute;
        top: 11px;
        left: 0; }
    .nav__mobile--ul li {
      position: relative; }
      .nav__mobile--ul li a {
        color: #000000;
        padding: 8px 0;
        display: block; }
        .nav__mobile--ul li a:hover {
          color: #41BECE; }
    .nav__mobile--ul > li {
      padding: 7px 0; }
  .nav__mobile__btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 19px;
    padding: 0;
    line-height: 40px;
    min-height: 37px;
    width: 40px;
    border: 0;
    background: none;
    color: #3e252b;
    cursor: pointer; }
    .nav__mobile__btn:focus {
      outline: none; }
    .nav__mobile__btn i {
      font-style: inherit;
      color: #000; }
      .nav__mobile__btn i:before {
        content: "\e901";
        display: block;
        font-family: 'icomoon';
        font-size: 6px;
        transform: rotate(180deg);
        transition: all .5s; }
  .nav__mobile .sub-active > .nav__mobile__btn i:before {
    transform: rotate(0); }
  @media (max-width: 991px) {
    .nav__mobile {
      top: 60px; }
      .nav__mobile__content {
        height: calc(100% - 60px); } }
  @media (max-width: 575px) {
    .nav__mobile {
      width: 100%; } }

/**/
/**/
.menu-mb__btn {
  display: inline-block;
  margin-right: 10px; }
  @media (max-width: 991.98px) {
    .menu-mb__btn {
      display: flex; } }

.menu-mb__btn .icon-bar {
  width: 26px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  background-color: #3c424f;
  display: block;
  height: 2px;
  border-radius: 1px; }

.menu-mb__btn .icon-bar + .icon-bar {
  margin-top: 5px; }

.menu-mb__btn.active .icon-bar:nth-of-type(1) {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%; }

.menu-mb__btn .icon-bar:nth-of-type(1) {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0); }

.menu-mb__btn.active .icon-bar:nth-of-type(2) {
  opacity: 0; }

.menu-mb__btn.active .icon-bar:nth-of-type(3) {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: 10% 90%;
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%; }

.menu-mb__btn.icon-bar:nth-of-type(3) {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0); }

.dn__breadcrumb {
  background: #F8F8F8;
  margin-bottom: 80px;
  padding: 12px 0;
  font-size: 12px;
  color: #7E7E7E; }
  .dn__breadcrumb a {
    color: #7E7E7E; }
  @media (max-width: 575px) {
    .dn__breadcrumb {
      margin-bottom: 30px; } }

.navigation {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 100px; }
  .navigation .page-numbers {
    width: 33px;
    height: 33px;
    line-height: 33px;
    border-radius: 50%;
    color: #41BECE;
    text-align: center;
    font-size: 12px;
    margin: 0 5px; }
    .navigation .page-numbers.current {
      background-color: #41BECE;
      color: #fff; }
    .navigation .page-numbers:hover {
      background-color: #41BECE;
      color: #fff; }
  @media (max-width: 575px) {
    .navigation {
      margin-top: 15px; } }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
@keyframes stuckMoveUp {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0); } }
@keyframes stuckFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  background: #fff;
  z-index: 99; }
  .header.is-sticky {
    position: fixed;
    box-shadow: 0px 2px 5px #ccc;
    animation: stuckMoveDown .6s; }
  .header--logo img {
    max-height: 40px; }
  .header__search--btn {
    border: 0;
    font-size: 24px;
    margin-left: 30px;
    padding: 0;
    line-height: 24px; }
    .header__search--btn:focus, .header__search--btn:active {
      outline: 0;
      box-shadow: none; }
    .header__search--btn:hover {
      color: #41BECE; }
  @media (max-width: 1199px) {
    .header--logo img {
      max-height: 36px; }
    .header__search--btn {
      margin-left: 10px; } }
  @media (max-width: 991px) {
    .header {
      padding: 12px 0; }
      .header__brand {
        flex-grow: 1;
        text-align: center; }
      .header__search--btn {
        margin-left: 0; } }

.modal-search .search-form {
  position: relative; }
.modal-search .modal-content {
  background: transparent;
  border: 0; }
.modal-search .search-field {
  line-height: 36px;
  background-clip: border-box;
  padding-right: 110px;
  border-radius: 0; }
.modal-search .search-submit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  line-height: 36px;
  background: #41BECE;
  color: #fff;
  padding: .375rem 2.75rem;
  border: 1px solid #41BECE; }
  .modal-search .search-submit:hover {
    background-color: #32a4b3; }
.modal-search .modal-close {
  border-radius: 50%;
  color: #000;
  background: #fff;
  width: 50px;
  height: 50px;
  line-height: 56px;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 10; }

body:not(.home) .sc-footer {
  background-color: #000; }
  body:not(.home) .sc-footer .sc-copyright {
    color: #797979; }

.sc-footer {
  padding: 155px 0 40px;
  background-color: #41BECE;
  color: #fff; }
  .sc-footer .sc-copyright {
    padding-top: 70px;
    font-size: 12px;
    font-family: 'Lato';
    text-align: center; }
  @media (max-width: 1199px) {
    .sc-footer {
      padding: 100px 0 40px; } }
  @media (max-width: 991px) {
    .sc-footer {
      padding: 60px 0 40px; } }
  @media (max-width: 767px) {
    .sc-footer {
      padding: 40px 0 40px; } }
  @media (max-width: 575px) {
    .sc-footer hr {
      background-color: #ccc;
      opacity: 1;
      margin: 0; }
    .sc-footer .sc-copyright {
      font-size: 14px;
      padding-top: 10px; } }

.box-social {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; }
  .box-social a {
    display: block;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 44px;
    margin: 0 10px; }
    .box-social a:hover {
      background-color: #FF6B1D;
      border-color: #FF6B1D; }

/*menu footer*/
.footer__nav {
  margin-top: 40px;
  margin-bottom: 40px; }
  .footer__nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: normal; }
  .footer__nav li {
    position: relative;
    padding: 0 20px; }
    .footer__nav li:not(:last-child)::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      right: 0; }
  .footer__nav a {
    color: #fff; }
    .footer__nav a:hover {
      color: #FF6B1D; }
  @media (max-width: 575px) {
    .footer__nav {
      margin-top: 0; }
      .footer__nav li {
        width: 100%;
        padding: 20px 20px;
        text-align: center;
        border-bottom: 1px solid #ccc; }
        .footer__nav li::after {
          display: none; } }

.sc-banner {
  padding: 45px 0;
  background-color: #41BECE;
  color: #fff; }
  .sc-banner .el__header {
    margin-bottom: 50px; }
    .sc-banner .el__header__title {
      font-size: 30px;
      line-height: 1.6;
      margin-bottom: 15px;
      font-family: 'Corporate Logo Bold';
      font-weight: 700; }
    .sc-banner .el__header__sub {
      font-size: 16px;
      line-height: 1.6; }
  .sc-banner .el__img {
    margin-bottom: -45px; }
    .sc-banner .el__img img {
      max-height: 296px; }
  @media (max-width: 1199px) {
    .sc-banner .el__img img {
      max-height: 235px; } }
  @media (max-width: 767px) {
    .sc-banner .el__img {
      text-align: center;
      margin-bottom: 60px; } }

.box__advanced__search {
  background-color: #ECF9FA;
  border-radius: 5px;
  color: #333333;
  max-width: 660px; }
  .box__advanced__search .box__header {
    padding: 40px 15px 20px;
    text-align: center; }
    .box__advanced__search .box__header__title {
      font-size: 20px;
      line-height: 1.6;
      font-weight: 700;
      color: #41BECE; }
  .box__advanced__search .box__content {
    padding: 20px 30px 30px; }
    .box__advanced__search .box__content label {
      font-size: 14px;
      font-weight: 700;
      padding-top: 0;
      font-family: 'Lato'; }
  @media (min-width: 768px) and (max-width: 1199.98px) {
    .box__advanced__search .box__content label {
      padding: 0; } }
  @media (max-width: 992px) {
    .box__advanced__search .box__header {
      padding: 40px 15px 0px; } }
  @media (max-width: 575px) {
    .box__advanced__search .box__content {
      padding: 20px 20px 30px; } }

.sc-lending {
  padding: 60px 0;
  overflow: hidden; }

.product__item {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc; }
  .product__item.-lenders .el__list li label {
    margin-bottom: 10px; }
    .product__item.-lenders .el__list li label.-text-fix {
      letter-spacing: -3px; }
  .product__item.-lenders .el__list li .star-rating {
    position: relative;
    top: 3px;
    margin-right: 20px;
    color: #F69D38; }
    .product__item.-lenders .el__list li .star-rating span {
      font-size: 10px; }
  .product__item.-lenders .el__list li p {
    top: 8px;
    font-size: 24px;
    line-height: 24px; }
  .product__item:first-child {
    border-top: 1px solid #ccc;
    padding-top: 30px; }
  .product__item .el__thumb {
    padding-top: 75%;
    margin-bottom: 30px; }
  .product__item .el__status {
    position: absolute;
    top: 0;
    left: 0;
    background: #41bece;
    z-index: 1;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    min-width: 100px;
    text-align: center; }
  .product__item .el__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 5px;
    margin-bottom: 5px; }
    .product__item .el__title a {
      color: #000; }
  .product__item .el__tag {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px; }
    .product__item .el__tag li {
      display: flex;
      align-items: center;
      border: 1px solid #FF6B1D;
      border-radius: 40px;
      font-size: 12px;
      font-weight: 500;
      line-height: normal;
      padding: 1px 9px;
      color: #FF6B1D; }
      .product__item .el__tag li:not(:last-child) {
        margin-right: 5px; }
  .product__item .el__sub {
    font-size: 14px;
    margin-bottom: 40px;
    font-family: 'Meiryo'; }
  .product__item .el__list {
    margin-bottom: 0;
    display: flex; }
    .product__item .el__list li {
      text-align: center;
      border-left: 3px solid #FF6B1D;
      font-weight: 700;
      line-height: 16px;
      margin-bottom: 0;
      padding: 0px 20px;
      color: #000; }
      .product__item .el__list li:last-child {
        border-right: 3px solid #FF6B1D; }
      .product__item .el__list li label {
        display: block;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px; }
      .product__item .el__list li p {
        position: relative;
        top: 10px;
        font-size: 32px;
        line-height: 32px; }
      .product__item .el__list li span {
        font-size: 14px; }
  @media (max-width: 1199px) {
    .product__item .el__sub {
      margin-bottom: 25px; } }
  @media (max-width: 991px) {
    .product__item .el__list li {
      padding: 0 15px; }
      .product__item .el__list li p {
        top: 7px;
        font-size: 22px;
        line-height: 22px; }
    .product__item .el__sub {
      margin-bottom: 22px; }
    .product__item.-lenders .el__list li {
      padding: 0 6px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      min-height: 62px; }
      .product__item.-lenders .el__list li .star-rating {
        margin: 0 auto 0; } }
  @media (max-width: 767px) {
    .product__item {
      padding-bottom: 40px;
      margin-bottom: 40px; }
      .product__item .el__list li {
        padding: 0 20px; }
      .product__item .el__title {
        margin-top: 0; }
        .product__item .el__title a {
          -webkit-line-clamp: 2; }
      .product__item:first-child {
        border-top: 0;
        padding-top: 0; }
      .product__item .el__sub {
        -webkit-line-clamp: 2; } }
  @media (max-width: 575px) {
    .product__item .el__list {
      align-items: center;
      justify-content: center; }
      .product__item .el__list li {
        padding: 0 15px; } }
  @media (max-width: 410px) {
    .product__item .el__list li {
      padding: 0 10px; }
    .product__item.-lenders .el__list li {
      padding: 0 2px; } }
  @media (max-width: 375px) {
    .product__item .el__list li {
      padding: 0 8px; } }

.flickity {
  --bs-gutter-x:2rem;
  margin-left: -1rem;
  margin-right: -1rem; }
  .flickity-slider {
    width: 100%; }
    .flickity-slider > * {
      flex-shrink: 0;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5); }

.new__slider .flickity-prev-next-button {
  display: none; }

.new__item {
  margin-bottom: 30px; }
  .new__item .el__thumb {
    padding-top: 75%; }
    .new__item .el__thumb.-small {
      padding-top: 60%; }
  .new__item .el__meta {
    padding-top: 15px; }
  .new__item .el__status {
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 1;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    min-width: 100px;
    text-align: center; }
  .new__item .el__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 0; }
    .new__item .el__title a {
      color: #000; }
    .new__item .el__title:hover a {
      color: #41BECE; }
  .new__item .el__company {
    font-size: 12px;
    font-weight: 700;
    color: #797979; }
  .new__item .el__tag {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px; }
    .new__item .el__tag li {
      border: 1px solid #7E7E7E;
      border-radius: 40px;
      font-size: 12px;
      font-weight: 500;
      line-height: normal;
      padding: 1px 9px;
      color: #7E7E7E;
      margin-bottom: 10px; }
      .new__item .el__tag li:not(:last-child) {
        margin-right: 5px; }
  .new__item .el__sub {
    font-size: 14px; }
  @media (max-width: 1199px) {
    .new__item .el__tag li {
      padding: 1px 5px; }
    .new__item .sc__readmore--text {
      margin-top: 0; } }
  @media (max-width: 767px) {
    .new__item .el__title a {
      -webkit-line-clamp: 2; } }

.sc-customer {
  padding: 60px 0;
  overflow: hidden; }
  .sc-customer__slider {
    margin: auto;
    padding: 0px 80px 0; }
  .sc-customer__slider:not(.flickity-enabled) .el__wrap + .el__wrap {
    display: none; }
  .sc-customer__slider .slider__item {
    position: relative; }
  .sc-customer .flickity-slider {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap; }
    .sc-customer .flickity-slider > * {
      flex-shrink: 0;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5); }
  .sc-customer .sc__content {
    position: relative;
    margin-bottom: 60px; }
  .sc-customer .flickity-prev-next-button.previous {
    left: 0; }
  .sc-customer .flickity-prev-next-button.next {
    right: 0; }
  .sc-customer .el__item {
    display: flex;
    align-items: start;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
    overflow: hidden; }
  .sc-customer .el__thumb {
    width: 60px;
    padding-top: 60px;
    flex: 0 0 auto;
    margin-right: 30px; }
  .sc-customer .el__meta {
    position: relative;
    padding: 15px 15px;
    border: 1px solid #707070;
    border-radius: 3px; }
    .sc-customer .el__meta::before {
      content: "";
      width: 20px;
      height: 23px;
      background: url(../img/Union1.png);
      position: absolute;
      top: 16px;
      left: -20px;
      background-repeat: no-repeat;
      background-position: center; }
    .sc-customer .el__meta__mb {
      display: flex;
      align-items: start;
      margin-bottom: 10px; }
      .sc-customer .el__meta__mb .el__thumb {
        margin-right: 10px; }
  .sc-customer .el__title {
    font-size: 14px;
    margin-bottom: 0; }
    .sc-customer .el__title img {
      position: relative;
      top: -2px; }
  .sc-customer .el__date {
    margin-bottom: 10px; }
  .sc-customer .el__comment {
    font-weight: 300;
    line-height: 19px; }
  @media (max-width: 991px) {
    .sc-customer__slider {
      padding: 0px 0 0; }
    .sc-customer .flickity-prev-next-button.previous {
      left: -40px; }
    .sc-customer .flickity-prev-next-button.next {
      right: -40px; } }
  @media (max-width: 575px) {
    .sc-customer__slider {
      padding: 0px 30px 0; }
    .sc-customer .flickity-prev-next-button.previous {
      left: -5px; }
    .sc-customer .flickity-prev-next-button.next {
      right: -5px; }
    .sc-customer .el__item {
      border: 1px solid #787878;
      padding: 15px; }
    .sc-customer .el__meta {
      border: 0;
      padding: 0; }
      .sc-customer .el__meta::before {
        display: none; }
    .sc-customer .el__title img {
      top: 0;
      display: block; } }

.sc-tag {
  padding: 60px 0 60px; }
  .sc-tag__header {
    margin-bottom: 40px; }
    .sc-tag__header__title {
      font-size: 24px;
      font-weight: 700; }
  .sc-tag__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px; }
    .sc-tag__list li {
      position: relative;
      border: 1px solid #797979;
      padding: 10px 20px 8px;
      border-radius: 20px;
      margin: 0 5px 20px;
      line-height: normal;
      display: flex;
      align-items: center;
      line-height: 14px; }
      .sc-tag__list li:hover {
        border-color: #41BECE; }
        .sc-tag__list li:hover a {
          color: #41BECE; }
    .sc-tag__list a {
      display: block;
      color: #797979; }
      .sc-tag__list a::before {
        content: '#';
        display: inline-block;
        margin-right: 5px; }

.sc-3box {
  padding: 80px 0 50px;
  background-color: #EEEEEE; }
  .sc-3box .el__item {
    width: 100%;
    background-color: #797979;
    min-height: 248px;
    margin-bottom: 30px; }
    .sc-3box .el__item.-text {
      padding: 50px 28px 20px;
      background-color: #fff;
      border: 5px solid #000; }
  .sc-3box .el__title {
    font-size: 30px;
    font-weight: 700;
    color: #41BECE;
    margin-bottom: 30px;
    font-family: 'Corporate Logo Bold'; }
  .sc-3box .el__excerpt {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #000; }
  .sc-3box .el__icon {
    align-items: flex-end;
    display: flex;
    color: #D90D0D;
    margin-bottom: 10px; }

.page__header {
  border-bottom: 1px solid #000000;
  margin-bottom: 40px; }
  .page__header__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 5px; }
    .page__header__title::before {
      content: "";
      position: relative;
      top: -3px;
      width: 8px;
      height: 8px;
      background-color: #FF6B1D;
      display: inline-block;
      margin-right: 20px; }

.sc-search {
  padding-bottom: 60px; }

@media (max-width: 767px) {
  .sc-search {
    padding-bottom: 40px; } }
@media (max-width: 767px) {
  .archive__content .product__item:first-child {
    border-top: 1px solid #ccc;
    padding-top: 40px; } }

.sitemap__list {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700; }
  .sitemap__list .el__number {
    font-size: 14px;
    font-weight: 400;
    color: #41BECE;
    margin-bottom: 10px; }
  .sitemap__list > li > a {
    border-bottom: 1px solid #41BECE;
    padding-bottom: 5px;
    margin-bottom: 50px; }
  .sitemap__list li {
    position: relative;
    padding: 0 20px; }
  .sitemap__list a {
    display: block;
    color: #000;
    margin-bottom: 30px; }
    .sitemap__list a:hover {
      color: #41BECE; }
  .sitemap__list .sub-menu {
    font-size: 18px;
    font-weight: 700; }
    .sitemap__list .sub-menu a::before {
      content: "";
      position: relative;
      top: -3px;
      width: 6px;
      height: 6px;
      display: inline-block;
      background-color: #41BECE;
      margin-right: 10px; }

.privacy-policy__item {
  margin-bottom: 75px; }
  .privacy-policy__item p {
    margin-bottom: 1rem; }

.inquiry__box {
  background-color: #ECF9FA;
  color: #333333;
  max-width: 760px;
  margin-bottom: 80px; }
  .inquiry__box input[type="text"], .inquiry__box select {
    border-radius: 0 !important; }
  .inquiry__box .btn__primary {
    background: transparent; }
    .inquiry__box .btn__primary:hover {
      background-color: #41BECE; }
  .inquiry__box .box__content {
    padding: 60px 60px; }
    .inquiry__box .box__content .col-form-label {
      font-size: 18px;
      font-weight: 500;
      padding-top: 0; }
  .inquiry__box .rate {
    position: relative;
    float: left; }
    .inquiry__box .rate::after {
      content: "";
      display: table;
      clear: both; }
  .inquiry__box .rate:not(:checked) > input {
    position: absolute;
    left: -9999px; }
  .inquiry__box .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc; }
  .inquiry__box .rate:not(:checked) > label:before {
    content: '★ '; }
  .inquiry__box .rate > input:checked ~ label {
    color: #41BECE; }
  .inquiry__box .rate:not(:checked) > label:hover,
  .inquiry__box .rate:not(:checked) > label:hover ~ label {
    color: #41BECE; }
  .inquiry__box .rate > input:checked + label:hover,
  .inquiry__box .rate > input:checked + label:hover ~ label,
  .inquiry__box .rate > input:checked ~ label:hover,
  .inquiry__box .rate > input:checked ~ label:hover ~ label,
  .inquiry__box .rate > label:hover ~ input:checked ~ label {
    color: #41BECE; }
  @media (min-width: 768px) and (max-width: 1199.98px) {
    .inquiry__box .box__content label {
      padding: 0; } }
  @media (max-width: 575px) {
    .inquiry__box {
      margin-bottom: 0; }
      .inquiry__box .btn__primary {
        width: 100%; }
      .inquiry__box .box__content {
        padding: 20px 20px 30px; } }

.sc-review-list .sc__content {
  position: relative;
  margin-bottom: 60px; }
.sc-review-list .el__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px; }
.sc-review-list .el__thumb {
  width: 100px;
  padding-top: 100px;
  flex: 0 0 auto;
  margin-right: 35px; }
.sc-review-list .el__meta {
  position: relative;
  padding: 25px 40px;
  background-color: #ECF9FA; }
  .sc-review-list .el__meta::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    border-top: 12px solid transparent;
    border-left: 10px solid transparent;
    border-right: 14px solid #ecf9fa;
    border-bottom: 12px solid transparent; }
  .sc-review-list .el__meta__mb {
    margin-bottom: 10px; }
    .sc-review-list .el__meta__mb .el__thumb {
      margin-right: 10px; }
.sc-review-list .el__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-right: 50px; }
.sc-review-list .el__sub {
  font-size: 12px;
  color: #B2B2B2;
  margin-bottom: 10px; }
.sc-review-list .el__date {
  font-size: 14px;
  font-weight: 400;
  color: #B2B2B2; }
.sc-review-list .el__comment {
  line-height: 19px;
  font-family: 'Meiryo'; }
.sc-review-list__readmore {
  margin-bottom: 80px; }
@media (max-width: 767px) {
  .sc-review-list .el__thumb {
    width: 60px;
    padding-top: 60px;
    margin-right: 10px; } }
@media (max-width: 575px) {
  .sc-review-list {
    margin-right: -.75rem;
    margin-left: -.75rem; }
    .sc-review-list .item__rating {
      margin-bottom: 10px; }
    .sc-review-list .el__meta {
      border: 0;
      padding: 1rem; }
      .sc-review-list .el__meta::before {
        display: none; }
      .sc-review-list .el__meta__mb {
        display: flex;
        align-items: center; } }

.single-fund__tag {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px; }
  .single-fund__tag li {
    display: flex;
    align-items: center;
    border: 1px solid #FF6B1D;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    padding: 1px 9px;
    color: #FF6B1D; }
    .single-fund__tag li:not(:last-child) {
      margin-right: 5px; }
.single-fund__summary {
  border-top: 3px solid #FF6B1D; }
  .single-fund__summary ul {
    font-size: 18px; }
  .single-fund__summary li {
    display: flex;
    padding: 30px 0; }
    .single-fund__summary li:first-child .el__label {
      font-weight: 700; }
    .single-fund__summary li:first-child .el__value {
      color: #FF6B1D; }
    .single-fund__summary li:not(:last-child) {
      border-bottom: 1px dashed #ccc; }
  .single-fund__summary .el__value {
    margin-left: auto;
    text-align: right;
    font-family: 'HiraKakuProW3'; }
    .single-fund__summary .el__value__sub {
      font-size: 14px;
      color: #707070; }
.single-fund__content {
  margin-top: 50px;
  margin-bottom: 100px; }
  .single-fund__content .entry-content__text {
    max-width: 570px;
    margin: 0 auto 80px; }
.single-fund__table {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px; }
  .single-fund__table tr td {
    vertical-align: middle;
    padding: 24px 30px 20px; }
    .single-fund__table tr td[rowspan="3"] + td {
      background-color: #ECF9FA; }
    .single-fund__table tr td:first-child {
      background-color: #ECF9FA;
      width: 14%;
      min-width: 80px; }
@media (max-width: 991px) {
  .single-fund__table {
    font-size: 16px; }
    .single-fund__table tr td {
      padding: 24px 10px 20px; } }
@media (max-width: 767px) {
  .single-fund__table {
    font-size: 14px; } }
@media (max-width: 575px) {
  .single-fund__table tr td:first-child {
    background-color: #ECF9FA;
    width: 25%; } }

.product-gallery {
  margin-bottom: 40px; }
  .product-gallery .carousel {
    margin-bottom: 20px; }
    .product-gallery .carousel .carousel-cell {
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
    .product-gallery .carousel .el__thumb {
      padding-top: 70%; }
      .product-gallery .carousel .el__thumb img {
        object-fit: contain; }
    .product-gallery .carousel-nav {
      --bs-gutter-x: 10px;
      margin-left: -5px;
      margin-right: -5px;
      padding-left: 50px;
      padding-right: 50px; }
      .product-gallery .carousel-nav .is-selected .el__thumb {
        border: 2px solid #FF6B1D; }
      .product-gallery .carousel-nav .el__thumb {
        padding-top: 100%;
        border: 2px solid #dfdfdf; }
  .product-gallery .flickity-button {
    background: transparent; }
    .product-gallery .flickity-button-icon {
      fill: #FF6B1D; }
  @media (min-width: 768px) {
    .product-gallery .carousel-main .flickity-button {
      display: none; } }
  @media (max-width: 575px) {
    .product-gallery .carousel-nav {
      display: none; }
    .product-gallery .flickity-button-icon {
      fill: #fff; } }

.single-lenders__img {
  margin-bottom: 40px; }
  .single-lenders__img img {
    max-width: 100%; }
.single-lenders__content .el__block {
  max-width: 660px;
  margin: 0 auto 0; }
.single-lenders__content .el__title {
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center; }
.single-lenders__content p {
  margin-bottom: 1rem; }
.single-lenders__table {
  max-width: 830px;
  font-size: 14px;
  margin: 0 auto 70px; }
  .single-lenders__table tr td {
    vertical-align: middle;
    padding: 20px 30px 14px 30px; }
    .single-lenders__table tr td:first-child {
      background-color: #ECF9FA;
      width: 18%;
      min-width: 85px;
      font-weight: 700; }
.single-lenders__rating {
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 80px; }
  .single-lenders__rating .el__col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 24px;
    border: 1px solid #FF6B1D; }
    .single-lenders__rating .el__col:first-child {
      border-right: 0; }
  .single-lenders__rating .el__label {
    padding-right: 30px; }
@media (max-width: 767px) {
  .single-lenders__table tr td {
    padding: 20px 15px 14px 15px; }
  .single-lenders__rating .el__col:first-child {
    border-right: 1px solid #FF6B1D;
    border-bottom: 0; }
  .single-lenders__rating .el__label {
    padding-right: 30px; } }
@media (max-width: 575px) {
  .single-lenders__table tr td {
    padding: 20px 10px 14px 10px; }
  .single-lenders__img {
    margin-right: var(--bs-gutter-x, -0.75rem);
    margin-left: var(--bs-gutter-x, -0.75rem); }
  .single-lenders__rating .el__col {
    justify-content: space-between; }
  .single-lenders__rating .el__label {
    padding-right: 15px; } }

.table-of-contents {
  max-width: 600px;
  margin: 0 auto 50px;
  border: 1px solid #BBBBBB;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 40px 40px 20px;
  font-family: YuGo; }
  .table-of-contents .el__header {
    text-align: center;
    margin-bottom: 30px; }
    .table-of-contents .el__header__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 0; }
    .table-of-contents .el__header__sub {
      font-weight: 500;
      color: #FE2C55;
      margin-left: 20px; }
  .table-of-contents .el__list ul.-sub {
    padding-left: 40px; }
  .table-of-contents .el__list > li > a:last-child {
    border-bottom: 0; }
  .table-of-contents .el__list a {
    display: block;
    color: #111;
    padding: 17px 0 12px;
    border-bottom: 1px solid #BBBBBB; }
  @media (max-width: 575px) {
    .table-of-contents {
      padding: 40px 30px 20px; }
      .table-of-contents .el__list ul.-sub {
        padding-left: 30px; } }

/*# sourceMappingURL=main.css.map */
