.single-lenders{
    &__img{
        margin-bottom: 40px;
        img{
            max-width: 100%;
        }
    }
    &__content{
     .el__block{
         max-width: 660px;
         margin: 0 auto 0;
     }
     .el__title{
         font-size: 18px;
         line-height: normal;
         font-weight: 700;
         margin-bottom: 1rem;
        text-align: center;
     }
     p{
         margin-bottom: 1rem;
     }
    }
    &__table{
        max-width: 830px;
        font-size: 14px;
        margin: 0 auto 70px;
        tr{
            td{
                vertical-align: middle;
                padding: 20px 30px 14px 30px;
                &:first-child{
                    background-color: #ECF9FA;
                    width: 18%;
                    min-width: 85px;
                    font-weight: 700;
                }
            }
        }
    }
    &__rating{
        font-size: 18px;
        line-height: normal;
        font-weight: 700;
        margin-bottom: 80px;
        .el__col{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 30px 24px;
            border: 1px solid $color_secondary;
            &:first-child{
                border-right: 0;
            }
        }
        .el__label{
            padding-right: 30px;
        }
    }

    @media ( max-width: 767px ) {
        &__table tr td {
            padding: 20px 15px 14px 15px;
        }

        &__rating{
            .el__col{
                &:first-child{
                    border-right: 1px solid $color_secondary;
                    border-bottom: 0;
                }
            }
            .el__label{
                padding-right: 30px;
            }
        }
    }
    @media ( max-width: 575px ) {
        &__table tr td {
            padding: 20px 10px 14px 10px;
        }
        &__img {
            margin-right: var(--bs-gutter-x,-.75rem);
            margin-left: var(--bs-gutter-x,-.75rem);
        }
        &__rating{
            .el__col{
                justify-content: space-between;
            }
            .el__label{
                padding-right: 15px;
            }
        }
    }
}

.table-of-contents{
    max-width: 600px;
    margin: 0 auto 50px;
    border: 1px solid #BBBBBB;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 40px 40px 20px;
    font-family: YuGo;
    .el{
        &__header{
            text-align: center;
            margin-bottom: 30px;
            &__title{
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
            }
            &__sub{
                font-weight: 500;
                color: #FE2C55;
                margin-left: 20px;
            }
        }
        &__list{
            ul.-sub{
                padding-left: 40px;
            }
            &>li{
                &>a{
                    &:last-child{
                        border-bottom: 0;
                    }
                }
            }
         
            a{
                display: block;
                color: #111;
                padding: 17px 0 12px;
                border-bottom: 1px solid #BBBBBB;
            }
        }
    }

    @media ( max-width: 575px ) {
        padding: 40px 30px 20px;
        .el__list ul.-sub {
            padding-left: 30px;
        }
    }
}